.grid-container {
    display: grid;

    gap: 25px 25px;
    grid-template-areas:
        "top-1 top-2"
        "middle middle";
    grid-template-columns: 1fr 1fr;

    grid-template-rows: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.grid-form {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto;
}

.item-c {
    grid-area: middle;
}
