th.cells-style-blue {
    background-color: #64b5f6 !important;
}

th.cells-style-green {
    background-color: #81c784 !important;
}

th.cells-style-yellow {
    background-color: #fff176 !important;
}

.space{
    padding-top: 10px;
}