.tab-container {
    padding: 1em;
}

.card {
    display: flex;
    row-gap: 10px;
}

.section-title {
    color: var(--primary);
    font-style: normal;
    font-weight: 400;

    display: inline-block;
}

.container-field {
    display: flex;
    column-gap: 2%;
}

.container-field > div {
    flex: 1;
}

@media only screen and (max-width: 1024px) {
    .container-field:last-child {
        flex-direction: column;
    }
}

.add-invoice-btn {
    text-align: center;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr;
    }
}