.tab-container {
    padding: 1em;
}

.card {
    display: flex;
    row-gap: 10px;
}

.section-title {
    color: var(--primary);
    font-style: normal;
    font-weight: 400;

    display: inline-block;
}

.container-field {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.notation {
    display: flex;
    column-gap: 5px;
    width: 100%;
}

.notation > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}