.length {
    width: 350px;
}

.center-image {
    position: absolute;
    top: 3px;
    right: 3px;
    margin-top: 5px;
}

.fixed-size {
    height: 35px;
}

@media (min-width: 1120px) {
    .length {
        width: 350px;
    }
}
